
<div class="modal ventana" id="contratoAyuda" tabindex="1" rol="dialog" aria-labelledby="contratoAyuda"
aria-hidden="false">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h2>Ayudas y Explicaciones</h2>
    </div>



    <div class="modal-body">
      <div class="">
        <h4>Componente Contrato</h4>
        <p>Descripcion: <span> Aqui declaramos  las caracteristicas de los contratos y los intervinientes en el </span></p>       
        <p>Funcionalidad:<span> Ver, Alta, Baja , Modificacion de estos</span></p>
        <h4>componentes</h4>
        <p> Nuevo Contrato: <span> Alta de un Contrato</span>
        </p>
        <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ve detalles de este contrato </span>
        <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
        <p>Modificar: <span>Desde este boton se accede al formulario para su modificacion o eliminado</span></p>
       
    </div>
  </div>
</div>
</div>
