<div class="modal ventana" id="inicioAyuda" tabindex="1" rol="dialog" aria-labelledby="inicioAyuda"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2>Ayudas y Explicaciones</h2>
      </div>



      <div class="modal-body">
        <div class="">
          <h4>Navegador Superior</h4>
          <p>Descripcion: <span> Este es el navegador general de la App</span></p>
          <p>Funcionalidad:<span> Ir a los diferentes componentes de esta </span></p>
          <h4>componentes</h4>
          <p>Usuarios: <span> Cualquier aspecto de las personas que interactuan con su App</span>
          </p>
          <p>Entidades: <span> Registro de Cualquier persona o empresa con la que tenga
              relacion</span></p>
          <p>Inmuebles: <span> Cualquier actuacion con los inmuebles</span></p>
          <p>Contratos: <span> Registro de todos estos</span></p>
          <p>Ingresos / Gastos: <span> Todos los aspectos tanto de Ingresos como de Gastos</span>
          </p>
          <p>Balance: <span> Resultados de la gestion de los Inmuebles</span></p>
          <p>Tipos: <span> Clasificacion de los elementos generales y propios</span></p>
          <p>Salir: <span> Salimos y nos deslogueamos de la App</span></p>
        </div>
        <h4> Pendiente Comprobacion</h4>
        <p> Listado de avisos de las actuaciones pendiente de comprobar por el usuario <span>Al seleccionar nos
            lleva al detalle concreto</span></p>

      </div>
    </div>
  </div>
</div>