* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
}

ul li {
   list-style: none;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
}

li:hover {
   background-color: lightblue;
}

ul li.activo {
   background-color: dodgerblue;
}

.fondo {
   background-color: rgb(100, 115, 122);
   display: flex;
   flex-wrap: wrap;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   font-style: oblique;
   filter: grayscale(80%);
   filter: brightness(60%);
   filter: opacity(50%);
   filter: saturate(80%);
   color: lawngreen;
}

.form {
   min-height: 20vh;
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   text-align: center;
   margin: 0.4em;
}

h2, h3 {
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}

.registro {
   color: gold;
   margin-top: 20px;
}

.campo {
   display: grid;
   grid-template-columns: 1fr 1fr;
   flex-direction: row;
   margin-bottom: 0.5em;
}

.campo label {
   grid-column: 1;
   text-align: left;
   margin-right: 35px;
}

.campo input {
   background-color: lightblue;
   grid-column: 2/3;
   font-style: oblique;
}
