<div class="wrapper">
  <div class="container color">
    <h2>Inmuebles:</h2>
  </div>
  <div class="fondo">
    <div class="form">
      <h3>Datos del Inmueble :</h3>
      <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
        <div class="form-group campo">
          <label class="form-label">id</label>
          <input type="number" class="form-control" formControlName="idInmueble">
        </div>
        <div class="form-group campo">
          <label class="form-label">Alias</label>
          <input type="text" class="form-control" formControlName="alias">
        </div>
        <div class="form-group campo">
          <label class="form-label">refCatastral</label>
          <input type="text" class="form-control" formControlName="refCatastral">
        </div>
        <div class="form-group campo">
          <label class="form-label">Localidad</label>
          <input type="text" class="form-control" formControlName="localidad">
        </div>
        <div class="form-group campo">
          <label class="form-label">Direccion</label>
          <input type="text" class="form-control" formControlName="direccion">
        </div>
        <div class="form-group campo">
          <label class="form-label">Codigo Postal</label>
          <input type="text" class="form-control" formControlName="cp">
        </div>
        <div class="form-group campo">
          <label class="form-label">Eliminar Inmueble</label>
          <input type="checkbox" formControlName="borrado">
        </div>
        <button type="submit" value="guardar"  >Guardar</button>
      </form>
    </div>
  </div>
</div>