
  <loginNav></loginNav>

 <div class="pagina">
    
  <div class="navEspecifico">
    <button> Quienes Somos </button>
    <button> Que es </button>
    <button> Contacto </button>
    
  </div>
  <div class="bienvenida">
  <h2>Bienvenido a la APP Gestione sus : </h2> 
  <p>Gestion de Gastos</p> 
  <p>Gestion de Fechas </p> 
  <p>Gestion cantidad de Pago</p>
  <p>Balance de resultados</p> 
   <p>___________________  </p>
   <p>Gestion de Ingresos</p> 
   <p>Gestion de Fechas </p> 
   <p>Gestion cantidad de Cobro</p>
   <p>Balance de resultados</p>
   <p>___________________  </p>
   <p>Avisos</p>
</div>
  <slider></slider>
 </div>
 