.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 5px;
    font-style: oblique;
    margin-top: 0.4em;
    background-color: transparent;
 }
 
 .lista {
    margin-left: 50px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: gold;
    font-style: oblique;
    text-shadow: 1px 1px 1px black
 }
 

 

 