<div class="modal ventana" id="inmueblesAyuda" data-backdrop="static" tabindex="1" rol="dialog"
  aria-labelledby="inmueblesAyuda" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2>Ayudas y Explicaciones</h2>
      </div>



      <div class="modal-body">
        <div class="">
          <h4>Componente Inmuebles</h4>
          <p>Descripcion: <span> Aqui declaramos y especificamos todo lo relacionado con los inmuebles</span></p>
          <p>Funcionalidad:<span> Ver, Alta, Baja , Modificacion de sus inmuebles</span></p>
          <p> Nuevo Inmueble: <span> Alta de un inmueble</span>
          </p>
          <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ve detalles de ese inmueble </span>
          <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
          <p>Modificar: <span>Desde este boton se accede al formulario para su modificacion o eliminado</span></p>
          <h4>Detalles</h4>
          <p>Situacion: <span>Localizacion de dicho inmueble</span></p>
          <p>Caracteristicas: <span>Descipcion del inmueble</span></p>
          <p>Propiedad: <span>Listado de sus propietarios y porcentaje de propiedad</span></p>
          <p>Inversiones: <span>Suma de Compra y Inversiones( reformas,reparaciones,o cualquier inversion no de
              mantenimientos</span></p>
        </div>
      </div>
    </div>
    <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
  </div>
</div>