<div class="modal ventana" id="inmuebleRegistro" data-backdrop="static" tabindex="1" rol="dialog" aria-labelledby="inmuebleRegistro"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Datos del Inmueble</h3>
      </div>
      <form class="registro"
       [formGroup]="registroForm">

        <div class="modal-body">
          <div class="form">
            <div class="form-group campo">
              <label class="form-label">Tipo inmueble</label>
              <select type="text" formControlName="tipoInmueblesId">
                <option [value]="tipo.idTipoInmueble" *ngFor="let tipo of arrSelectTipos">
                  {{tipo.tipoInmueble}} </option>
              </select>
              <p class="error" *ngIf="checkError('tipoInmueblesId', 'required')">
                requerido
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">Alias</label>
              <input type="text" class="form-control" formControlName="alias">
              <p class="error" *ngIf="checkError('alias', 'required')">
                requerido
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">refCatastral</label>
              <input type="text" class="form-control" formControlName="refCatastral">
              <p class="error" *ngIf="checkError('refCatastral', 'required')">
                requerido
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">Localidad</label>
              <input type="text" class="form-control" formControlName="localidad">
              <p class="error" *ngIf="checkError('localidad', 'required')">
                requerido
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">Direccion</label>
              <input type="text" class="form-control" formControlName="direccion">
              <p class="error" *ngIf="checkError('direccion', 'required')">
                requerido
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">Codigo Postal</label>
              <input type="number" class="form-control" formControlName="codigoPostal">
              <p class="error" *ngIf="checkError('codigoPostal', 'required')">
                requerido
              </p>
              <p class="error" *ngIf="checkError('codigoPostal', 'minlength')">
               debe tener 5 caracteres
              </p>
              <p class="error" *ngIf="checkError('codigoPostal', 'maxlength')">
                debe tener 5 caracteres
              </p>
            </div>            
            <div class="form-group campo">
              <label class="form-label">Nº Planta </label>
              <input type="number" class="form-control" formControlName="planta">
            </div>
            <div class="form-group campo">
              <label class="form-label">Nº Habitaciones</label>
              <input type="number" class="form-control" formControlName="nhabitaciones">
            </div>
            <div class="form-group campo">
              <label class="form-label"> Metros Cuadrados</label>
              <input type="number" class="form-control" formControlName="mcuadrados">
            </div>
            <div class="form-group campo">
              <label class="form-label">Nº Baños</label>
              <input type="number" class="form-control" formControlName="nbanos">
            </div>
            <div class="form-group campo">
              <label class="form-label">Eliminar Inmueble</label>
              <input type="checkbox" formControlName="borrado">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
          <button data-dismiss="modal" (click)="enviar()">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>