<div class="pagina">
  <div class="botonNuevosRegistros">
    
  </div>
  <div class="listado">
    <button type="button" class="button" [routerLink]="['/tipos/inmueble/']" data-toggle="modal"
      data-target="#registroTiposInmuebles">
      Nuevo Tipo de Inmueble
    </button>
    <table class="lista">
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody routerLinkActive="activo activoBoton" *ngFor="let tipo of arrListaTipoInmueble; let i = index">
        <tr (click)="navegar(tipo.idTipoInmueble)" [routerLink]="['/inmueble/modificacion/'+tipo.idTipoInmueble]">
          <td>{{tipo.tipoInmueble}} {{tipo.tipoEspecifico}}</td>

          <td>
            <button type="button" class="buttonLista" data-toggle="modal" data-target="#registroTiposInmuebles">
              Modificar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<tipoInmuebleRegistro></tipoInmuebleRegistro>