<div class="fondo">
  <div class="botonNuevosRegistros">
    <button type="button" class="button" data-toggle="modal" data-target="#registroTiposInmuebles">
      Nuevo Tipo de Inmueble
    </button>
  </div>
  <div class="listado">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody routerLinkActive="activo activoBoton" *ngFor="let tipo of arrListaTipoInmueble; let i = index">
        <tr>
          <td>{{tipo.tipoInmueble}}</td>

          <td>
            <button type="button" class="buttonLista" data-toggle="modal" data-target="#registroTiposInmuebles">
              Modificar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<tipoInmuebleRegistro></tipoInmuebleRegistro>