
<div class="slider-frame">
  <ul>
    <li >Aticos<img src="../../../../assets/fotos/atico.jpg" alt=""></li>
    <li  >Casas<img src="../../../../assets/fotos/casa2.jpg" alt=""></li>
    <li >Edificios<img src="../../../../assets/fotos/edificios2.jpg" alt=""></li>
    <li >Locales<img src="../../../../assets/fotos/local.jpg" alt=""></li> 
    <li >Naves<img src="../../../../assets/fotos/nave .jpg" alt=""></li>
    <li  >Oficinas<img src="../../../../assets/fotos/oficina.jpg" alt=""></li>
    <li >Pisos<img src="../../../../assets/fotos/piso.jpg" alt=""></li>
    <li >Loft<img src="../../../../assets/fotos/loft.jpg" alt=""></li>    
  </ul>  
</div>


