
 
  <div class="detalles"> 
    <div class="listado">
    <h4>Intervinientes</h4>
    <button *ngIf="permisos.validacionUser()" (click)="navegarNuevo()" type="button" data-toggle="modal"
    data-target="#interviniente">
    Nuevo Interviniente
  </button>
      <table class="lista">   
        <thead>
          <tr>
            <th>Entidad</th>
            <th>Tipo </th>           
            <th>% Propiedad</th>
          </tr>
        </thead>
        <tbody *ngFor="let interviniente of arrListaIntervinientes; let i = index">
          <tr (click)="navegar(interviniente.contratosId! ,interviniente.idInterviniente!)"
            [routerLink]="['/contratos/detalle/' + interviniente.contratosId + '/interviniente/' + interviniente.idInterviniente]">
            <td>{{interviniente.apellidosNombreCliente}}</td>
            <td>{{interviniente.tipoInterviniente}}</td>           
            <td>{{interviniente.porcentajePropiedad}}</td>
            <td *ngIf="permisos.validacionUser()">
              <button type="button" class="buttonLista" data-toggle="modal" data-target="#interviniente">
                Modificar
              </button>
            </td>
          </tr>
        </tbody>     
      </table> 
    </div>
    <div class="caracteristicas">
      <router-outlet></router-outlet>
  </div> 
  </div>



<intervinienteRegistro></intervinienteRegistro>