<div class="container">
  <div class="lista IngresoGasto">
    <h3>Detalle de Factura</h3>
    <div class="campo">
      <label> Numero de Factura:</label>
      <p>{{inga.numeroFactura}}</p>
    </div>
    <div class="campo">
      <label> Concepto:</label>
      <p>{{inga.concepto}}</p>
    </div>
    <div class="campo">
      <label> Fecha Factura:</label>
      <p>{{inga.fechaFactura}}</p>
    </div>
    <div class="campo">
      <label> Tipo de Pago:</label>
      <p>{{inga.tipoPago}}</p>
    </div>
    <div class="campo">
      <label> Cliente:</label>
      <p>{{inga.nombreCliente}} {{inga.apellidosCliente}}</p>
    </div>
    <div class="campo">
      <label> Cuenta Corriente Proveedor:</label>
      <p>{{inga.cuentaCorrienteProveedor}}</p>
    </div>
    <div class="campo">
      <label> Cuenta Corriente Cliente:</label>
      <p>{{inga.cuentaCorrienteCliente}}</p>
    </div>
    
    <div class="detallesEspecificos" *ngFor="let detalle of ingaDetalle, let i = index">
      <h5>Detalle {{i+1}}</h5>
      <div class="campo">
        <label> Concepto:</label>
        <p>{{detalle.conceptoDetalle}}</p>
      </div>
      <div class="campo">
        <label> PVP:</label>
        <p>{{detalle.pv}}</p>
      </div>
      <div class="campo">
        <label>Descuento:</label>
        <p>{{detalle.descuento}}</p>
      </div>
      <div class="campo">
        <label> Iva :</label>
        <p>{{detalle.ivaPorcentaje}}</p>
      </div>
      <div class="campo">
        <label> Cantidad:</label>
        <p>{{detalle.cantidad}}</p>
      </div>
    </div>

  </div>
  <ingaRegistroGeneral></ingaRegistroGeneral>