
  <div class="listado">
    <table class="lista">
      <thead>
        <tr>          
          <th>Mes</th>
          <th>Ingreso Total</th>
          <th>Gasto Total</th>
          <th>Total Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLinkActive="activo" *ngFor="let anio of informesBalancesXAnios">         
          <td>{{anio.nombreMes}}</td>
          <td>{{anio.totalIngresos}} €</td>
          <td>{{anio.totalGastos}} €</td>
          <td>{{anio.totalBalance}} €</td>
        </tr>
      </tbody>
    </table>
  </div>
