<div class="pagina">
  <div class="botonNuevosRegistros">

  </div>
  <div class="listado">
    <button type="button" [routerLink]="['/tipos/contrato']" class="button" data-toggle="modal"
      data-target="#registroTiposContrato">
      Nuevo Tipo de Contrato
    </button>
    <table class="lista">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody routerlinkactive="activo activoBoton" *ngFor="let tipo of arrListaTipoContrato; let i = index">
        <tr (click)="navegar(tipo.idTipoContrato)" [routerLink]="['/contrato/modificacion/'+tipo.idTipoContrato]">
          <td>{{tipo.tipoContrato}}</td>
          <td *ngIf="permisos.validacionTipos(tipo.administradorId)">
            <button type="button" class="buttonLista" data-toggle="modal" data-target="#registroTiposContrato">
              Modificar
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
<tipoContratoRegistro></tipoContratoRegistro>