.container{
    min-width: 125%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.nav .general{   
    position: relative;
    top: -20px;    
    font-size: 125%;
}
.general{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
} 

.bienvenida{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    position: relative;
    top: -75px;
    left: -100px;
}
.bienvenida p {
    color: gold;
    text-shadow: 1px,1px,1px,black;
}
