<div class="modal ventana" id="usuarioAyuda" data-backdrop="static" tabindex="1" rol="dialog" aria-labelledby="usuarioAyuda"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2>Ayudas y Explicaciones</h2>
      </div>



      <div class="modal-body">
        <div class="">
          <h4>Componente Usuario</h4>
          <p>Descripcion: <span> Aqui declaramos y especificamos las personas que pueden interactuar con su aplicacion</span></p>
          <p><span>Solo puede acceder el Gestor/ Administrador</span></p>
          <p><span>Este se declara al registrarse</span></p>
          <p>Funcionalidad:<span> Ver, Alta, Baja , Modificacion de sus usuarios</span></p>
          <h4>componentes</h4>
          <p> Nuevo Usuario: <span> Alta de un usuario</span>
          </p>
          <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ven los detalles de ese usuario </span>
          <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
          <p>Modificar: <span>Desde este boton se accede al formulario para su modificacion o eliminado</span></p>
         
      </div>
    </div>
    <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
  </div>
</div>