
<navApp></navApp>

<div class="pagina">
  <div class="listado">
    <h3>Pendiente Pago Cobro</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Fecha Factura</th>
          <th>Proveedor</th>
          <th>Total Importe</th>
        </tr>
      </thead>
      <tbody routerLinkActive="activo activoBoton" *ngFor="let inGa of arrFacturasAvisos; let i = index">
        <tr>
          <td>{{inGa.aliasInmueble}}</td>
          <td>{{inGa.fechaFactura}}</td>
          <td>{{inGa.nombreApellidosCliente}}</td>
          <td>{{inGa.totalImporte}} €</td>
        </tr>
      </tbody>
    </table>

    <div class="router">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>