
<div class="modal ventana" id="inGaAyuda" tabindex="1" rol="dialog" aria-labelledby="inGaAyuda"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2>Ayudas y Explicaciones</h2>
       
      </div>



      <div class="modal-body">
        <div class="">
          <h4>Componente Ingresos / Gastos</h4>
          <p>Descripcion: <span> Aqui declaramos y especificamos todo lo relacionado con los Ingresos y los Gastos</span></p>           
          <p>Funcionalidad:<span> Ver, Alta, Baja , Modificacion de los elementos</span></p>   
          <p> Nuevo Gasto: <span> Alta de un Gasto</span></p>
          <p> Nuevo Ingreso: <span> Alta de un Ingreso</span></p>
          <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ve detalles de ese elemento </span>
          <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
          <p><span>Se despliega los detalles si hay de este elemento</span></p>
          <p>Modificar: <span>Desde este boton se accede al registro para su modificacion o eliminado</span></p>
          <h4>Detalles</h4>
          <p><span>Se muestran los detalles del elemento</span></p>
          <h4>Totales</h4>
          <p><span>Se muestran los totales de los elementos listados</span></p>
      </div>
    </div>
  </div>
</div>



