<div class="publis">
    <div class="listado">
        <h4>Gestion de :</h4>
        <p> Gastos</p>
        <p> Ingresos</p>
        <p> Fechas </p>
        <p> cantidades </p>
        <p>Balance de resultados</p>
        <p>Impuestos</p>
        <p>documentaciones</p>
    </div>
    <div class="listado">
        <h4>Avisos :</h4>
        <p>Pagos</p>
        <p>Impagos</p>
        <p>Fin Contratos</p>
        <h4>Acceso :</h4>
        <p>24 horas</p>
        <p>Cualquier dispositivo</p>
    </div>
</div>