
.publis{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    margin-left: 1em;
    color: gold; 
}
p{
    color: white;
}
h5{
    color: gold;
}
