header{
    justify-content: space-between;
}

.wrapper{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.router {
    min-width: 100%; 
    position: relative;   
}

h2 {
    font-size: 200%;
    color: gold;
    text-shadow: 10px,10px,10px,black;
    font-style: oblique;
    margin-top: 10px;
   
}

.logo {
    width: 10%;
    display: flex;
    margin: 10px;
    justify-content: lefts;
}

.titulo{
    margin: 0 auto;
}

.icono {
    top: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
}

h4 {
    font-style: oblique;
    top: 75px;
    margin-left: 15px;
}

button {
    background-color: transparent;
    color: gold;
    right: 5px;
    top: 50px;
}