<div class="wrapper">
  <header>
    <div class="logo">
      <img class="icono"
        src="../assets/construction_project_plan_building_architect_design_develop-75_icon-icons.com_60218.png"
        alt="">
      <h4>Inicio</h4>
    </div>
    <div class="titulo">
      <h1>APP GESTION DE INMUEBLES</h1>
    </div>
    <div class="usuario">
      <p>{{ 'Bienvenido/a : '}} </p>
    </div>
  </header>

  <div class="container">
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <p>{{fechasistema}} </p>
  </footer>
</div>