<div class="modal ventana" id="ingaDetalle" tabindex="1" rol="dialog" aria-labelledby="ingaDetalle"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Detalle de Ingresos / Gastos</h3>
      </div>
      <form class="registro" [formGroup]="registroForm">

        <div class="modal-body">
          <div class="form">
            <div class="form-group campo">
              <label class="form-label">Concepto detalle</label>
              <input type="text" class="form-control" formControlName="conceptoDetalle">
            </div>
            <div class="form-group campo">
              <label class="form-label">Cantidad </label>
              <input type="number" class="form-control" formControlName="cantidad">
            </div>
            <div class="form-group campo">
              <label class="form-label">Ingreso </label>
              <input type="number" class="form-control" formControlName="ingreso">
            </div>
            <div class="form-group campo">
              <label class="form-label">Gasto </label>
              <input type="number" class="form-control" formControlName="gasto">
            </div>
            <div class="form-group campo">
              <label class="form-label">Porcentaje de IVA </label>
              <input type="number" class="form-control" formControlName="ivaPorcentaje">
            </div>
            <div class="campo">
              <label for="form-label"> Base Imponible : </label>
              <p>{{(registroForm.get('ingreso').value +
                (registroForm.get('gasto').value))/(1+(registroForm.get('ivaPorcentaje').value/100))
                +'€'}}</p>
            </div>
            <div class="campo">
              <label for="form-label"> Imp IVA :</label>
              <p>
                {{
                (registroForm.get('ingreso').value + (registroForm.get('gasto').value))
                -((registroForm.get('ingreso').value +
                (registroForm.get('gasto').value))/(1+(registroForm.get('ivaPorcentaje').value/100)))
                +'
                €'
                }}
              </p>
            </div>
            <div class="form-group campo">
              <label class="form-label">Eliminar Ingreso / Gastos</label>
              <input type="checkbox" formControlName="borrado">
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
              <button type="button" data-dismiss="modal" data-target="#ingaDetalle"
                (click)="enviar()">Save
                changes</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>