<div class="container">
  <div class="lista">
    <h4>Detalle del Contrato</h4>
    <div class="campo">
      <label> Tipo Contrato:</label>
      <p>{{contrato.tipoContrato}}</p>
    </div>
    <div class="campo">
      <label> Inmueble:</label>
      <p>{{contrato.aliasInmueble}}</p>
    </div>
    <div class="campo">
      <label> Fecha Contrato:</label>
      <p>{{contrato.fechaContrato}}</p>
    </div>
    <div class="campo">
      <label> Valor Contrato:</label>
      <p>{{contrato.valorContrato}}</p>
    </div>
    <div class="campo">
      <label> Fecha de Inicio:</label>
      <p>{{contrato.fechaInicio}}</p>
    </div>
    <div class="campo">
      <label> Fecha de Fin:</label>
      <p>{{contrato.fechaFin}}</p>
    </div>
    <div class="campo">
      <label> Tipo de Periodo:</label>
      <p>{{contrato.tipoPeriodo}}</p>
    </div>
    <div class="campo">
      <label> Periodicidad:</label>
      <p>{{contrato.cantidadPeriodo}}</p>
    </div>
  </div>
  <div class="interviniete">
    <intervinienteLista></intervinienteLista>
  </div>
  <contratoRegistro></contratoRegistro>