<div class="containerDetalle">
 
  <div class="detalles">
    <h4>Detalles </h4>
    <div class="caracteristicas">
      <div class="lista">
        <h4> Contrato</h4>

        <div class="campo">
          <label> Fecha Contrato:</label>
          <p>{{contrato.fechaContrato}}</p>
        </div>
        <div class="campo">
          <label> Valor Contrato:</label>
          <p>{{contrato.valorContrato}}</p>
        </div>
        <div class="campo">
          <label> Fecha de Inicio:</label>
          <p>{{contrato.fechaInicio}}</p>
        </div>
        <div class="campo">
          <label> Fecha de Fin:</label>
          <p>{{contrato.fechaFin}}</p>
        </div>
        <div class="campo">
          <label> Tipo de Periodo:</label>
          <p>{{contrato.tipoPeriodo}}</p>
        </div>
        <div class="campo">
          <label> Periodicidad:</label>
          <p>{{contrato.cantidadPeriodo}}</p>
        </div>
      </div>
      <div class="caracteristicas">
        <intervinienteLista></intervinienteLista>
      </div>
    </div>
    <contratoRegistro></contratoRegistro>