<header>
  <navApp></navApp>
</header>

<div class="fondo"> 
  <div class="nav">
    <contratoNav></contratoNav>
  </div>

  <div class="listado">
    <table class="table">
      <thead>
        <tr>
          <th>Tipo Contrato</th>
          <th>Inmueble</th>
          <th>Fecha Contrato</th>
          <th></th>
        </tr>
      </thead>
      <tbody routerLinkActive="activo activoBoton"
        *ngFor="let contrato of arrListaContratos; let i = index">
        <tr (click)="navegar(contrato.idContratos!)"
          [routerLink]="['/contratos/detalle/' + contrato.idContratos + '/' + contrato.hasIntervinientes]">
          <td>{{contrato.tipoContrato}}</td>
          <td>{{contrato.aliasInmueble}}</td>
          <td>{{contrato.fechaContrato}}</td>
          <td>
            <button type="button" class="botonOculto buttonLista" data-toggle="modal" data-target="#contrato">
              Modificar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
<contratoRegistro></contratoRegistro>