<div class="modal ventana" id="registroRoles" tabindex="1" rol="dialog" aria-labelledby="registroRoles"
  aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Datos del Tipo Rol
        </h3>
      </div>
      <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
        <div class="modal-body">
          <div class="form">
            <div class="form-group campo">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombreRol">
              <p class="error" *ngIf="checkError('nombreRol', 'required')">requerido</p>
              <p class="error" *ngIf="checkError('nombreRol', 'minlength')">
                debe tener más de 3 caracteres
              </p>
              <p class="error" *ngIf="checkError('nombreRol', 'maxlength')">
                debe tener menos de 45 caracteres
              </p>
            </div>         

            <div class="form-group campo">
              <label class="form-label">Borrado</label>
              <input type="checkbox" class="form-control" formControlName="borrado">
            </div>

          </div>
        </div>
      
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
              <button data-dismiss="modal" (click)="enviar()">Save changes</button>
            </div>
      </form>
    </div>
  </div>


