<div class="modal ventana" id="ingaGeneral" tabindex="1" rol="dialog" aria-labelledby="ingaGeneral" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <h3>Datos de Gastos</h3>
      <form class="registro" [formGroup]="registroForm">
        <div class="modal-header">



          <div class="modal-body">

            <div class="form">

              <div class="general">

                <div class="Selecion">
                  <div class="form-group campo">
                    <label class="form-label">Inmueble</label>
                    <select type="text" formControlName="inmuebleId">
                      <option [value]="inmueble.idInmueble" *ngFor="let inmueble of selectInmueble">
                        {{inmueble.refcatastral}} {{inmueble.alias}}</option>
                    </select>
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Proveedor</label>
                    <select type="text" formControlName="clienteId">
                      <option [value]="proveedor.idCliente" *ngFor="let proveedor of selectProveedor">
                        {{proveedor.nie}} {{proveedor.nombre}} {{proveedor.apellidos}} </option>
                    </select>
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Tipo Pago</label>
                    <select type="text" formControlName="tipoPagoId">
                      <option [value]="tipo.idTipoPago" *ngFor="let tipo of selectTipoPago">
                        {{tipo.tipoPagos}}</option>
                    </select>
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Categoria</label>
                    <select type="text" formControlName="tipoConceptoId">
                      <option [value]="tipo.idTipoConcepto" *ngFor="let tipo of selectTipoConcepto">
                        {{tipo.tipoConcepto}}</option>
                    </select>
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Concepto </label>
                    <input type="text" class="form-control" formControlName="concepto">
                  </div>

                </div>

                <div class="campos">

                  <div class="form-group campo">
                    <label class="form-label">Fecha Gasto </label>
                    <input type="date" class="form-control" formControlName="fechaFactura">
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Numero Factura </label>
                    <input type="text" class="form-control" formControlName="numeroFactura">
                  </div>

                  <div class="form-group campo">
                    <label class="form-label">Cuenta Corriente Proveedor </label>
                    <input type="text" class="form-control" formControlName="cuentaCorrienteProveedor">
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Cuenta Corriente Cliente </label>
                    <input type="text" class="form-control" formControlName="cuentaCorrienteCliente">
                  </div>
                  <div class="form-group campo">
                    <label class="form-label">Fecha Pago </label>
                    <input type="date" class="form-control" formControlName="fechaPago">
                  </div>
                </div>
              </div>

            </div>
            <button (click)="anadirDetalle()">Añadir Detalles</button>

            <!--Subformulario detalle dinamico-->
            <div class="regiDetalle">
              <div formArrayName="arrRegistroDetalle">
                <div class="regiDetalle" *ngFor="let detalle of obtenerDetalle.controls, let i = index"
                  [formGroupName]="i">
                  <div class="form-group campoTabla">
                    <label class="form-label">Concepto detalle</label>
                    <input type="text" class="form-control" formControlName="conceptoDetalle">
                  </div>
                  <div class="form-group campoTabla">
                    <label class="form-label">Cantidad </label>
                    <input (change)="calcularTotales()" type="number" class="form-control" formControlName="cantidad">
                  </div>
                  <div class="form-group campoTabla">
                    <label class="form-label">PVP </label>
                    <input (change)="calcularTotales()" type="number" class="form-control" formControlName="pv">
                  </div>
                  <div class="form-group campoTabla">
                    <label class="form-label">descuento </label>
                    <input (change)="calcularTotales()" type="number" class="form-control" formControlName="descuento">
                  </div>
                  <div class="form-group campoTabla">
                    <label class="form-label">% de IVA </label>
                    <input (change)="calcularTotales()" type="number" class="form-control"
                      formControlName="ivaPorcentaje">
                  </div>

                  <div class="form-group campoTabla">
                    <label class="form-label">Eliminar Detalle </label>
                    <input type="checkbox">
                  </div>
                </div>
              </div>
            </div>
            <!--Fin Subformulario detalle dinamico-->


            <div class="modal-footer">
              <div class="form-group campo">
                <label class="form-label">Eliminar Gasto</label>
                <input type="checkbox" formControlName="borrado">
              </div>
              <div class="form-group campo">
                <label class="form-label">Total Base Imponible </label>
                <input type="number" class="form-control" formControlName="totalBaseImponible">
              </div>
              <div class="form-group campo">
                <label class="form-label">Total Impuesto Iva </label>
                <input type="number" class="form-control" formControlName="totalImpuestoIva">
              </div>
              <div class="form-group campo">
                <label class="form-label">Total Gasto </label>
                <input type="number" class="form-control" formControlName="totalGasto">
              </div>
              <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
              <button data-dismiss="modal" (click)="enviar()">Save changes</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>