<header>
  <navApp></navApp>
</header>
<div class="pagina">
  <div class="especifico">
    <div class="navEspecifico">
      <button [routerLink]="['/inga']" type="button" data-toggle="modal" data-target="#ingaGeneral">
        Nuevo Gasto
      </button>
      <button [routerLink]="['/inga']" type="button" data-toggle="modal" data-target="#ingresoGeneral">
        Nuevo Ingreso
      </button>
      <button [routerLink]="['/inga']" type="button" data-toggle="modal" data-target="#inGaAyuda">
        Ayuda Ingreso / Gasto
      </button>
      <hr>
      <label class="form-label"> Seleccione el filtro :</label>
      <select type="text" (change)="ingresoGasto($event)">
        <option [value]="0">Seleccione ingreso o gasto</option>
        <option [value]="1">Ingreso</option>
        <option [value]="2">Gasto</option>
      </select>
      <select type="text" (change)="inmuebles($event)">
        <option [value]="0">Seleccione un Inmueble</option>
        <option [value]="inmueble.idInmueble" *ngFor="let inmueble of selectInmuebles">
          {{inmueble.refcatastral}} {{inmueble.alias}}</option>
      </select>

      <select type="text" (change)="anios($event)">
        <option [value]="0">Seleccione el Año</option>
        <option [value]="anio" *ngFor="let anio of selectAnio">
          {{anio}}
        </option>
      </select>
      <select type="text" (change)="mes($event)">
        <option [value]="0">Seleccione el Mes</option>
        <option [value]="mes.numero" *ngFor="let mes of selectMes">
          {{mes.mes}}
        </option>
      </select>


      <button (click)="filtrar()">filtrar</button>
    </div>

    <div class="listado">
      <table class="lista">
        <thead>
          <tr>
            <th></th>
            <th>Inmueble</th>
            <th>Categoria</th>
            <th>Proveedor</th>
            <th>Fecha Gasto</th>
            <th>Total Importe</th>

          </tr>
        </thead>
        <tbody routerLinkActive="activo activoBoton" *ngFor="let inGa of arrIngresosGastosMostrar; let i = index">
          <tr (click)="navegar(inGa.idInGa)" [routerLink]="['/inga/detalle/'+inGa.idInGa]">
            <td *ngIf="cambioBotones(inGa.totalGasto) as value">{{value}}</td>
            <td>{{inGa.aliasInmueble}}</td>
            <td>{{inGa.tipoCategoria}}</td>
            <td>{{inGa.nombreApellidosCliente}}</td>
            <td>{{inGa.fechaFactura|date:'dd-MM-YYYY'}}</td>
            <td>{{inGa.totalImporte}} €</td>
            <button *ngIf="inGa.totalGasto != 0; else elseBlock" type="button" class="botonOculto buttonLista"
              data-toggle="modal" data-target="#ingaGeneral">
              Modificar
            </button>
            <ng-template #elseBlock>
              <button type="button" class="botonOculto buttonLista" data-toggle="modal" data-target="#ingresoGeneral">
                Modificar
              </button>
            </ng-template>

          </tr>
          <tr>
            <td colspan="20">
              <div class="campo">
                <table>
                  <tbody *ngFor="let inGaDetalle of arrInGaDetalle, let i = index">
                    <tr class="thead" *ngIf="i<1 && detalle(inGaDetalle.inGaId, inGa.idInGa)">
                      <th>Concepto Detalle</th>
                      <th>Precio Venta</th>
                      <th>Cantidad</th>
                      <th>Importe</th>
                      <th>Descuento</th>
                      <th>Base Imponible</th>
                      <th>Porcentaje Iva</th>
                      <th>Valor Venta</th>
                    </tr>
                    <tr *ngIf="detalle(inGaDetalle.inGaId, inGa.idInGa)">
                      <td>{{inGaDetalle.conceptoDetalle}}</td>
                      <td>{{inGaDetalle.pv}} €</td>
                      <td>{{inGaDetalle.cantidad}} und</td>
                      <td>{{inGaDetalle.importe}} €</td>
                      <td>{{inGaDetalle.descuento}} %</td>
                      <td>{{inGaDetalle.importeTotal}} €</td>
                      <td>{{inGaDetalle.ivaPorcentaje}} %</td>
                      <td>{{inGaDetalle.valorTotal}} €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="totales">
        <div class="campo">
          <label>Total Ingreso</label>
          <p>{{IngresoTotal}}€</p>
        </div>
        <div class="campo">
          <label>Total Ingreso</label>
          <p>{{GastoTotal}}€</p>
        </div>
      </div>

    </div>


    <router-outlet></router-outlet>

    <ingaRegistroGeneral></ingaRegistroGeneral>
    <ingresoRegistroGeneral></ingresoRegistroGeneral>
    <inGaAyuda></inGaAyuda>