<header>
  <navApp></navApp>
</header>
<div class="fondo">
  <div class="nav">
    <ingaNav></ingaNav>
  </div>

  <div class="listado">
    <div class="filtro">
      <label class="form-label">Inmueble</label>
      <select type="text" formControlName="inmuebleId" *ngFor="let inmueble of selectInmuebles"
        (change)="inmuebles(inmueble.idInmueble)">
        <option [value]="inmueble.idInmueble">
          {{inmueble.refcatastral}} {{inmueble.alias}}</option>
      </select>
      <label class="form-label">Año</label>
      <select type="text" formControlName="inmuebleId" *ngFor="let anio of selectAnio"
        (change)="anios(anio)">
        <option [value]="anio">
          {{anio}}
        </option>
      </select>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>concepto</th>
          <th>Proveedor</th>
          <th>Fecha Gasto</th>
          <th>Numero de Factura</th>
          <th>Base Imponible</th>
          <th>Impuesto Iva</th>
          <th>Total Gasto</th>
          <th>Forma Pago</th>
          <th>Fecha Pago</th>
          <th>CC Proveedor</th>
          <th>CC Pago</th>

        </tr>
      </thead>
      <tbody routerLinkActive="activo activoBoton"
        *ngFor="let inGa of arrIngresosGastos; let i = index">
        <tr (click)="navegar(inGa.idInGa)" [routerLink]="['/inga/detalle/'+inGa.idInGa]">
          <td>ver detalle</td>
          <td>{{inGa.concepto}}</td>
          <td>{{inGa.nombreCliente}} {{inGa.apellidosCliente}}</td>
          <td>{{inGa.fechaFactura}}</td>
          <td>{{inGa.numeroFactura}}</td>
          <td>{{inGa.totalBaseImponible}}</td>
          <td>{{inGa.totalImpuestoIva}}</td>
          <td>{{inGa.totalGasto}}</td>
          <td>{{inGa.formaPago}}</td>
          <td>{{inGa.fechaPago}}</td>
          <td>{{inGa.cuentaCorrienteProveedor}}</td>
          <td>{{inGa.cuentaCorrienteCliente}}</td>
         
        
            <button type="button" class="botonOculto buttonLista" data-toggle="modal"
              data-target="#ingaGeneral">
              Modificar
            </button>
          
        </tr>
        <tr>
          <td colspan="8">
            <div class="campo">
              <table>
                <tbody *ngFor="let inGaDetalle of arrInGaDetalle, let i = index">
                  <tr class="thead" *ngIf="i<1 && detalle(inGaDetalle.inGaId, inGa.idInGa)">
                    <th>Concepto Detalle</th>
                    <th>Precio Venta</th>
                    <th>Cantidad</th>
                    <th>Descuento</th>
                    <th>Importe</th>
                    <th>Porcentaje Iva</th>
                    <th>Base Imponible</th>
                    <th>Valor Venta</th>
                  </tr>
                  <tr *ngIf="detalle(inGaDetalle.inGaId, inGa.idInGa)">
                    <td>{{inGaDetalle.conceptoDetalle}}</td>
                    <td>{{inGaDetalle.pv}}</td>
                    <td>{{inGaDetalle.cantidad}}</td>
                    <td>{{inGaDetalle.descuento}}</td>
                    <td>{{inGaDetalle.importe}}</td>
                    <td>{{inGaDetalle.ivaPorcentaje}}</td>
                    <td>{{inGaDetalle.importeTotal}}</td>
                    <td>{{inGaDetalle.valorTotal}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
<ingaRegistroGeneral></ingaRegistroGeneral>
<ingresoRegistroGeneral></ingresoRegistroGeneral>