.listado {
  min-width: 100%;
  justify-content: space-between;
}

.lista {
  min-width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
  min-width: 100%;

}

.navEspecifico {
  min-width: auto;
  min-height: 90%;
  font-size: 125%;
}

tr th {
  min-width: 125px;
  text-align: left;
}

tr td {
  min-width: 125px;
  text-align: left;
}


.totales {
  max-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}


p {

  margin-right: 30px;
}

h4 {
  margin-left: 20%;
  max-width: 20%;


}

.inactivoDetalle {
  display: none;
}

.activoDetalle .inactivoDetalle {
  display: flex;
}