
<div class="modal ventana" id="balanceAyuda" tabindex="1" rol="dialog" aria-labelledby="balanceAyuda"
aria-hidden="false">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h2>Ayudas y Explicaciones</h2>
    </div>



    <div class="modal-body">
      <div class="">
        <h4>Componente Balance</h4>
        <p>Descripcion: <span> Aqui vemos los resultados de la gestion</span></p>       
        <p>Funcionalidad:<span> Podemos ver los rsultados por cliente,inmueble,año y mes</span></p>
        <h4>componentes</h4>        
        <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ve  el detalle del balance </span>
        <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
       
       
    </div>
  </div>
</div>
</div>

