<div class="nav">
  <div class="general">
    <li [routerLink]="['/inicio']" routerLinkActive="activo">
      Inicio
    </li>
    <li *ngIf="permisos.validacionAdministrador()" [routerLink]="['/usuarios']" routerLinkActive="activo">
      Usuarios
    </li>
    <li *ngIf="permisos.validacionProp()" [routerLink]="['/clientes']" routerLinkActive="activo">
      Entidades
    </li>
    <li [routerLink]="['/inmuebles']" routerLinkActive="activo">
      Inmuebles
    </li>
    <li [routerLink]="['/contratos']" routerLinkActive="activo">
      Contratos
    </li>
    <li [routerLink]="['/inga']" routerLinkActive="activo">
      Ingresos/Gastos
    </li>
    <li [routerLink]="['/balances']" routerLinkActive="activo">
      Balance
    </li>
    <li *ngIf="permisos.validacionUser()" [routerLink]="['/tipos']" routerLinkActive="activo">
      Tipos</li>
    <li></li>
    <li [routerLink]="['/publi']" routerLinkActive="activo">
      Salir</li>

  </div>
  <div class="bienvenida">
    <p>Bienvenido/a:</p>
    <p>{{nombreUsuario}}</p>
  </div>
</div>