<div class="container">
  <div class="nav">
    <ul class="general">
      <li [routerLink]="['/inicio']" routerLinkActive="activo">
        Inicio
      </li>
      <li [routerLink]="['/usuarios']" routerLinkActive="activo">
        Usuarios
      </li>
      <li [routerLink]="['/clientes']" routerLinkActive="activo">
        Entidades
      </li>
      <li [routerLink]="['/inmuebles']" routerLinkActive="activo">
        Inmuebles
      </li>
      <li [routerLink]="['/contratos']" routerLinkActive="activo">
        Contratos
      </li>
      <li [routerLink]="['/balances']" routerLinkActive="activo">
        Balance
      </li>
      <li [routerLink]="['/tipos']" routerLinkActive="activo">
        Tipos</li>
    </ul>
  </div>
  <div class="bienvenida">
    <p>Bienvenido:</p>
    <p>{{nombreUsuario}}</p>
  </div>
</div>