<div class="pagina">
  <div class="titulo">
    <h4>Detalles</h4>
    <div class="detalles">
      <div class="caracteristicas">
        <div class="lista">
          <h4>Situacion</h4>
          <div class="campo">
            <label> Localidad:</label>
            <p>{{inmuebleDetalle.localidad}}</p>
          </div>
          <div class="campo">
            <label> Direccion:</label>
            <p>{{inmuebleDetalle.direccion}}</p>
          </div>
          <div class="campo">
            <label> Codigo Postal:</label>
            <p> {{inmuebleDetalle.codigoPostal}}</p>
          </div>
        </div>
        <div class="lista">
          <h4>Caracteristicas </h4>
          <div class="campo">
            <label>Nº Planta:</label>
            <p> {{inmuebleDetalle.planta}}</p>
          </div>
          <div class="campo">
            <label>Nº Habitaciones:</label>
            <p> {{inmuebleDetalle.nhabitaciones}}</p>
          </div>
          <div class="campo">
            <label>Metros Cuadrados:</label>
            <p> {{inmuebleDetalle.mcuadrados}}</p>
          </div>
          <div class="campo">
            <label>Nº Baños:</label>
            <p> {{inmuebleDetalle.nbanos}}</p>
          </div>
        </div>
      </div>
      <div class="caracteristicas">
        <h4>Propiedad</h4>

        <table>
          <thead>
            <tr>
              <th>Propietario</th>
              <th>% Propiedad</th>
            </tr>
          </thead>
          <tbody *ngFor="let propiedad of arrPropiedad">
            <tr>
              <td>{{propiedad.apellidos}} {{propiedad.nombre}}</td>
              <td>{{propiedad.porcentajePropiedad}}</td>
            </tr>
          </tbody>
        </table>
        <h4> Inversiones</h4>
        <div class="lista">
          <div class="campo">
            <label> Compra:  </label>
            <p>{{arrInversion[0].compra}} €</p>
          </div>
          <div class="campo">
            <label> Inversiones:</label>
            <p> {{arrInversion[0].inversiones}} €</p>
          </div>
          <div class="campo">
            <label> Total: </label>
            <p>{{arrInversion[0].total}} €</p>
         </div>
      </div>
    </div>
  </div>
</div>


<inmueblesRegistro></inmueblesRegistro>