<div class="container">
  <div class="lista">
    <h4>Detalle del Inmueble</h4>
    <div class="campo">
      <label> Alias:</label>
      <p>{{inmuebleDetalle.alias}}</p>
    </div>
    <div class="campo">
      <label> Tipo Inmueble:</label>
      <p>{{inmuebleDetalle.tipoInmueble}} {{inmuebleDetalle.tipoEspecifico}}</p>
    </div>
    <div class="campo">
      <label>refcatastral:</label>
      <p>{{inmuebleDetalle.refCatastral}}</p>
    </div>
    <div class="campo">
      <label> Localidad:</label>
      <p>{{inmuebleDetalle.localidad}}</p>
    </div>
    <div class="campo">
      <label> Direccion:</label>
      <p>{{inmuebleDetalle.direccion}}</p>
    </div>
    <div class="campo">
      <label> Codigo Postal:</label>
      <p> {{inmuebleDetalle.codigoPostal}}</p>
    </div>
    <div class="campo">
      <label>Nº Planta:</label>
      <p> {{inmuebleDetalle.planta}}</p>
    </div>
    <div class="campo">
      <label>Nº Habitaciones:</label>
      <p> {{inmuebleDetalle.nhabitaciones}}</p>
    </div>
    <div class="campo">
      <label>Metros Cuadrados:</label>
      <p> {{inmuebleDetalle.mcuadrados}}</p>
    </div>
    <div class="campo">
      <label>Nº Baños:</label>
      <p> {{inmuebleDetalle.nbanos}}</p>
    </div>
  </div>
</div>

<inmueblesRegistro></inmueblesRegistro>