* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: gold;
    text-shadow: 2px 2px 2px black;
    font-style: oblique;
    background-color: lightblue;
    font-size: 125%;
}

.nav {
    min-width: 10%;
    background-color: rgb(58, 58, 208);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.usuario {
    margin-top: 2%;
}

ul {
    list-style: none;
}

li {
    margin-left: 30px;
}

li:hover {
    padding: 20px;
    background-color: rgb(81, 181, 85);
    color: black;
    text-shadow: 1px 1px 1px gray;
    border-radius: 10px;
}

.activo {
    color: white;
    text-shadow: none;
    font-size: 125%;
    font-weight: 600;
    padding: 20px;
    background-color: rgb(16, 99, 19);
    border-radius: 10px;
}

header {
    background-color: rgb(58, 58, 208);
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    min-width: 100%;
    background-color: rgb(58, 58, 208);
    min-height: 5vh;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: none;
    max-height: 80vh;
    background-color: rgb(58, 58, 208);
}

button {
    margin: 10px;
    min-width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-style: oblique;
    font-size: 100%;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

button:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
    background-color: lightblue;
}


.fondo {
    position: relative;
    top: -50px;
    background-color: rgb(100, 115, 122);
    display: flex;
    flex-wrap: wrap;  
    min-height: 80vh;
    font-style: oblique;
}

.modal-dialog {
    height: 50%;
    min-width: 35%;
}

.modal-content {
    background-color: rgb(58, 58, 208);
    border-radius: 15px;
}

.campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.campo label {
    grid-column: 1;
    text-align: left;
    margin-right: 5px;
}

.campo input {
    background-color: rgba(255, 255, 255, 0.827);
    grid-column: 2/3;
    font-style: oblique;
}

.campo select {
    background-color: rgb(155, 155, 155);
    font-style: oblique;
    text-shadow: 2px 2px 2px rgb(196, 196, 196);
}