/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
li {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--colorPrincipal: rgb(28, 28, 86);
	--colorDetalle:gray;
	--colorRegistro: rgb(14, 14, 126);
	--colorTexto: gold;
	--colorTextoSecundario: white;
}


body {
	background-color: var(--colorPrincipal);
	color: var(--colorTexto);
	font-style: oblique;
	text-shadow: 2px 2px 2px black;
}

header {
	display: flex;
	text-align: center;
	flex: wrap;
	padding: 1em;
	justify-content: center;
	max-height: 5em;

}

footer {
	max-height: 2em;
	text-align: center;
}

.navEspecifico {	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: left;
	background-color: var(--colorPrincipal);
}

.pagina {
	display: flex;
	flex-direction: row;
	max-width: 95%;
	min-height: 85%;
	color: var(--colorDetalle)
}

button {
	color: white;
	background: transparent;
	border-radius: 5px;
	font-style: oblique;
	text-shadow: 2px 2px 2px black;
	border: 0;
	min-width: 5em;
	margin-right: 2em;
	
}

button:hover {
	color: black;
	background-color: lightblue;
}

.boton {
	
	color: var(--colorTexto);
	background: transparent;
	border-radius: 5px;
	font-style: oblique;
	text-shadow: 2px 2px 2px black;
	border: 0;
	min-width: 7em;
	margin-right: 2em;
	margin-bottom: 2em;

}

.boton:hover {
	background-color: lightblue;
}

div.modal-content {
	background-color: var(--colorRegistro);
	border-radius: 20px;
	max-width: 90%;
}

.modal-dialog {	
	height: auto;	
}

.detalles {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: gray;
}
.listado{
    min-height: 50vh;
    text-align: center;
    margin-top: 1em;
	margin-left: 1em;
}

.especifico {
	max-width: 90%;
}
tr{
	display: flex;
	max-height: 2em;
	
}

tr th  {
    text-align: left;
    min-width: 115px;
}
tr td{
    text-align: left;
    min-width: 115px;
	color: white;    
}

tbody tr:hover{
	background-color:lightgreen;
}
.activo{
	background-color: green;
}
.lista{
	max-height: 50%;
}
