<div class="especifico">
    <div class="listado">
        <table class="lista">
            <thead>
                <tr>
                    <th>Anio</th>
                    <th>Total Ingreso</th>
                    <th>Total Gasto</th>
                    <th>Total Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr routerLinkActive="activo" *ngFor="let anio of informesBalancesXAnios"
                    [routerLink]="['/balances/cliente/' + this.selectedCliente + '/anios/' + this.selectedInmueble + '/mes/' + anio.anio]"
                    (click)="navegarAnios(anio.anio!)">
                    <td>{{anio.anio}}</td>
                    <td>{{anio.totalIngresos}} €</td>
                    <td>{{anio.totalGastos}} €</td>
                    <td>{{anio.totalBalance}} €</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>