
    <div class="listado">
        <table class="lista">
            <thead>
                <tr>                   
                    <th>Año</th>
                    <th>Ingreso </th>
                    <th>Gasto </th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr routerLinkActive="activo" *ngFor="let anio of informesBalancesXAnios"
                    [routerLink]="['/balances/cliente/' + this.selectedCliente + '/anios/' + this.selectedInmueble + '/mes/' + anio.anio]"
                    (click)="navegarAnios(anio.anio!)">
                   
                    <td>{{anio.anio}}</td>
                    <td>{{anio.totalIngresos}} €</td>
                    <td>{{anio.totalGastos}} €</td>
                    <td>{{anio.totalBalance}} €</td>
                </tr>
            </tbody>
        </table>
        <router-outlet></router-outlet>
    </div>

