* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
}

.activo {
   font-size: 80%;
}

.listado {
   min-width: 30%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   margin: 0.2em;
}

.router {
   margin: 0 auto;
   padding: 20px;
   max-width: 100%;
}