
<div class="modal ventana" id="tiposAyuda" data-backdrop="static" tabindex="1" rol="dialog" aria-labelledby="tiposAyuda"
aria-hidden="false">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h2>Ayudas y Explicaciones</h2>
    </div>



    <div class="modal-body">
      <div class="">
        <h4>Componente Tipos</h4>
        <p>Descripcion: <span> Aqui declaramos los tipos o clasificaciones que nos permitira acceder a los detalles de los componentes </span></p>       
        <p>Funcionalidad:<span> Ver, Alta, Baja , Modificacion de estos</span></p>
        <h4>componentes</h4>
        <p> Nuevo Tipo: <span> Alta de un Tipo</span>
        </p>
        <p>Seleccion: <span> Al posicionarse sobre un elemento concreto se ve detalles de este elemento </span>
        <p><span>El elemento seleccionado cambia a un color mas oscuro</span></p>
        <p>Modificar: <span>Desde este boton se accede al formulario para su modificacion o eliminado</span></p>
       
    </div>
  </div>
  <button type="button" data-dismiss="modal" data-backdrop="false">Close</button>
</div>
</div>

